configuration {
  modes: "window,run,combi";
  combi-modes: "window,run";
  font: "Iosevka Fixed 14";
  bw: 100;
  monitor: -4; // open on monitor with focused window
}

@theme "~/.cache/wal/colors-rofi-dark"
